<!DOCTYPE html>
<html>
   <head>
      <title>Receive song suggestions based on your personality!</title> 
 
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
			<a href="/">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Discover new songs!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/showSuggestSong" role="button">Suggest me a song now!</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-16">
                <h4>It's simple!</h4>
                <p>By answering 6 simple personality questions, we can suggest a song which you might like.</p>
                <h4>How does it work?</h4>
                <p> Simply click the button above, answer 6 personality questions and you will be redirected to a YouTube link containing our suggested song!</p>  
                
                <h4> Aren't you happy with our suggestion? Please help us to improve!</h4>
                <p>If you don't like our suggested song, you can tell us your preferred song by clicking the button below!</p>
	<div class="jumbotron">
            <h3>Share your musical taste with us!</h3>
            <p class="lead"></p>
            <p>
		<a class="btn btn-lg btn-success" href="/showShareSong" role="button">Share your preferred song!</a>
            </p>
        </div>
            <div class="col-lg-6">
                <h4>Share this site with your friends!</h4>
                <p>If you like this site, please tell others about our existence! Share on Facebook or Twitter.</p>
 
            </div>      
       
            </div>
 
            
        </div>
 
       
    </div>
</body>
 
</html>
